
@{
    ViewData["Title"] = "About";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/About.css" />
    <div class="container">
        <h1 id="AHMN">ABOUT US</h1>
        <h2 class="kit"> YTRIBLE-A</h2>
    </div>
    <meta charset="UTF-8" />
    <title>ABOUT US </title>
    <script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    
    
    
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body style="background-color: wheat">
    <div class="container">
        <div id="desc">
            <p>
                WE AREN'T JUST START OUR CAREER FROM A FEW WEEKS, WE'VE BEEN THERE IN
                THE KITCHEN FEILD FOR MORE THAN 15 YEARS IT STARTS FROM THE STREET TO
                WORK ON A CAR THAT'S MAKE FAST FOOD,EXCATLY AT 15 MAY 2008 IT WAS FIRST
                ORDER THAT OUR COMMUNITY MADE.
            </p>
        </div>
        <div class="sec">
            <p>
                IT WAS A BIG PROUD FOR US TO START A PROJECT LIKE THIS WITH A
                PROFFESIONAL COOKERS,WE HAVE A CAST THAT CONSISTS OF 4 CHEFS,2 WAITERS
                AND 3 CASHIARES THAT TAKE THE ORDER FROM A CLIENT, WE HAVE MANY
                BRANCHES,EXACTLY 5 AT CAIRO,3 AT ALEXANDRIA AND 2 IN PORTSAID
            </p>
        </div>
        <div class="cairo">
            <p>AT CAIRO:<P>
                <ol type="1">
                    <li> NASR CITY,45 ABBAS ELAKKAD</li>
                    <li>  NASR CITY, 13MAKRAM OBAID</li>
                    <li>MASR ELGEDEDA,92 HAROUN EL RASHED STREET</li>
                    <li> CAIRO FESTIVAL,HALL 3</li>
                    <li>CITY STARS, 5TH MATCH</li>

                </ol>
            </P>
        </div>

        <div class="alex">
            <p>AT ALEX:<P>
                <ol type="1">
                    <li> 5 MOHAMED NAGUIB STREET </li>
                    <li>70 MIAMI</li>
                    <li> 10 OMAR IBN ELKHATTAB STREET</li>
                </ol>
        </div>


        <div class="portsaid">
            <p>AT PORTSAID:<P>
                <ol type="1">
                    <li>  12 HAYY ELZOHOOR </li>
                    <li>50 ELSUDAN STREET </li>
                </ol>
        </div>

        <div class="photos">
            <div class="photo">
                <div class="card" style="width: 600px; border-color:bisque; border-width: 3px; border-radius:5%;
     box-shadow: -21px 20px 16px 3px grey;">
                    <img src="\pics\kitchen.jpg" class="card-img-top" style="border-radius: 25px;">
                    <div class="card-body" style="background-color:honeydew;border-radius: 25px;">
                        <!-- <h5 class="card-title"></h5> -->
                        <p class="card-text">Don't be satisfied with anything less than perfect quality!</p>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>
            </div>

            <div class="photo2">
                <div class="card" style="width: 600px; border-color:bisque;
 border-width: 3px; border-radius:5%; box-shadow: 21px 10px 10px 10px grey;">
                    <img src="\pics\food.jpg" class="card-img-top" style="border-radius: 25px;">
                    <div class="card-body" style="background-color:honeydew; border-radius: 25px;">
                        <p class="card-text">Choose your own adventure with variety</p>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <p class="end">

        YOU cAN MAKE YOUR ORDER NOW !!

    </p>
</body>
</html>

