@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/Index.css" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interactive Image Banner</title>

</head>
<body >

    <h1 class="container">Welcome To YTRIBLE-A</h1>
    <div id="banner-container">
        <img id="banner" src="/pics/banner.jpg" />
        </div>
</body>
</html>
