@model IEnumerable<web_project.Models.Menu>

@{
    ViewData["Title"] = "menu";
}
<body>
    <div class="container mt-5">
        <h1>Menu</h1>

        <div class="row">
            <!-- Example menu items -->
             @if (Model != null)
            {
                @foreach (var item in Model )
                {
                   
                    <div class="card mb-2">
                        <div class="row no-gutters">
                            <div class="col-md-2">
                                <img src="https://images.unsplash.com/photo-1546069901-ba9599a7e63c?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8fA%3D%3D" class="card-img" alt="Image">
                            </div>
                            <div class="col-md-10">
                                <div class="card-body">
                                    <h2 class="card-title">@item.DishName</h2>
                                    <p class="flex-grow-1">@item.DishDiscription</p>
                                    <div class="flex-grow-1">
                                        <p class="btn btn-success mt-auto">@item.Price</p>
                                        </div>
                                    <!-- Other content or buttons here -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <br ><br >
               }}
            </div>
</div>
</body>